<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= player.name %>'s info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <h5 class="text-center">
                                Stats
                            </h5>
                            <table class="table table-striped table-sm table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Stat</th>
                                        <th scope="col">Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">Strength</th>
                                        <td><%= player.strength %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Agilty</th>
                                        <td><%= player.agility %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Intellegence</th>
                                        <td><%= player.intellegence %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Wisdom</th>
                                        <td><%= player.wisdom %></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Luck</th>
                                        <td><%= player.luck %></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-5 ml-auto">
                            <h5 class="text-center">
                                Inventory
                            </h5>
                            <table class="table table-striped table-sm table-hover table-dark">
                                <thead>
                                    <tr>
                                        <th scope="col">Item</th>
                                        <th scope="col">Stat Bonus</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">test</th>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">test</th>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">test</th>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">test</th>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">test</th>
                                        <td>1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>